# Insolación

In [3]:
import pandas as pd
import insolacion as i

df = pd.read_csv("data_2014.csv", sep =',', skiprows=5)
df.columns= ['time', 'record', 'Gb', 'G', 'Gd', 'uv', 'T', 'phi', 'v','p']
df.time = pd.to_datetime(df['time'], format= '%d/%m/%Y %H:%M')
df.set_index(df['time'], inplace=True)
df["Gb"] = df['Gb'].apply(pd.to_numeric, errors='coerce')
df.dtypes
df.head()


dt = 10*60
H = i.H(df.G, dt)

H.head()

                    H
Fecha
2014-01-01  18.348258
2014-01-02  17.008531
2014-01-03  18.633686
2014-01-04  18.938126
2014-01-05  18.634267

# Insolación promedio mensual

In [4]:
import pandas as pd
import insolacion as i
from myfunc import d2r

df = pd.read_csv('temixcoEnero2019.csv', sep = ',', skiprows = 5)
df.columns = ["time", "Gb", "G", "Gd", "UV", "T", "phi", "v", "p"]
df.time = pd.to_datetime(df["time"], format = "%Y-%m-%d %H:%M:%S")
df.set_index(df['time'], inplace=True)

dt = 10*60
H = i.H(df.Gb, dt)
H.head()

phi = d2r(18.8)
k = i.Kt(H, phi)
k.head()

                  Kt
Fecha
2019-01-01  0.968630
2019-01-02  0.445066
2019-01-03  0.419145
2019-01-04  0.898868
2019-01-05  0.814493