# Insolación

In [10]:
import pandas as pd
import insolacion as i

df = pd.read_csv("DNI.csv")
df.columns = ["time", "G", "Gb"]
df.time = pd.to_datetime(df["time"], format = "%Y-%m-%d %H:%M:%S")
df.set_index(df['time'], inplace=True)

dt = 60*60
H = i.H(df.G, dt)

# Insolación promedio mensual

In [18]:
import pandas as pd
import insolacion as i
from myfunc import d2r

df = pd.read_csv('temixcoEnero2019.csv', sep = ',', skiprows = 5)
df.columns = ["time", "Gb", "G", "Gd", "UV", "T", "phi", "v", "p"]
df.time = pd.to_datetime(df["time"], format = "%Y-%m-%d %H:%M:%S")
df.set_index(df['time'], inplace=True)

dt = 10*60
H = i.H(df.Gb, dt)
H.head()

phi = d2r(18.8)
k = i.Kt(H, phi)
k

                  Kt
Fecha
2019-01-01  0.968630
2019-01-02  0.445066
2019-01-03  0.419145
2019-01-04  0.898868
2019-01-05  0.814493
2019-01-06  0.791695
2019-01-07  0.742336
2019-01-08  1.008029
2019-01-09  1.011045
2019-01-10  0.884862
2019-01-11  0.985947
2019-01-12  0.823956
2019-01-13  0.658351
2019-01-14  0.468134
2019-01-15  0.937518
2019-01-16  0.436386
2019-01-17  0.335632
2019-01-18  0.918984
2019-01-19  0.683452
2019-01-20  0.788581
2019-01-21  1.154545
2019-01-22  1.113357
2019-01-23  1.030821
2019-01-24  1.006756
2019-01-25  1.091239
2019-01-26  1.043074
2019-01-27  1.074861
2019-01-28  1.000193
2019-01-29  1.015219
2019-01-30  1.041077
2019-01-31  0.000006